.game {
    padding: 30px;
}
.status {
    margin-bottom: 10px;
}

.game-board{
    margin: 10px 0;
    text-align: center;
}

.board-row{
    display: flex;
    justify-content: center;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 26px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 40px;
    cursor: pointer;
}

.active{
    background: #1890FF;
}

.game-info{
    text-align: center;
}
.game-info li{
    margin-bottom: 5px;
}

/* 首页样式 */
.game-select{
    width: 200px;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
}
.game-select button{
    display: block;
    margin-bottom: 10px;
}

/* 标题样式 */
.game-title{
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

/* 标准棋盘样式 */
.standard-board{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* 自定义棋盘样式 */
.custom-board{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.custom-set{
    width: 200px;
    margin: 0 auto;
}

.custom-input{
    text-align: left;
    margin-bottom: 10px;
}

.custom-input span{
    display: block;
    margin-bottom: 2px;
}
